spring:
  application:
    name: gyeongdodat
  profiles:
    include:
      - redis

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  show-actuator: false
